.footer p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 141.87%;
  text-align: center;
  color: #313133;
}

.footer .footer-form {
  margin-top: -150px;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('../../../../content/fonts/Raleway-100.woff2') format('truetype');
  font-weight: bold;
}

.font-face-raleway {
  font-family: 'Raleway';
}
