.footer {
  background-image: url('../../../../content/images/page-background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer p-4 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 141.87%;
  text-align: center;
}

.p-4 {
  padding: 1.5rem !important;
}

.footer .footer-form .background {
  margin-top: -150px;
}

.background {
  background: #d0ecb4;
}
