//.footer {
//  position: relative;
//  width: 100%;
//  left: 0;
//  bottom: 0;
//}

.footer {
  font-weight: 300;
  font-size: 18px;
  line-height: 141.87%;
  text-align: center;
  color: #313133;
}

.footer .footer-form {
  margin-top: -150px;
}
