$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #ffffff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.jh-navbar {
  background-color: #353d47;
  padding: 0.2em 1em;
  .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #353d47;
  }
  .dropdown-toggle::after {
    margin-left: 0.15em;
  }
  ul.navbar-nav {
    padding: 0.5em;
    .nav-item {
      margin-left: 1.5rem;
    }
  }
  a.nav-link {
    font-weight: 400;
    > span {
      margin-left: 5px;
    }
  }
  .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
    &:hover {
      color: #fff;
    }
  }
}
.navbar-version {
  font-size: 10px;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    img {
      height: 45px;
    }
  }
}

.brand-title {
  font-size: 24px;
  color: $header-color;
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}

.img-fluid {
  max-width: 100%;
  width: 200px;
  height: auto;
}

//.main-navigation {
//  position: fixed;
//  top: 0;
//  right: 0;
//  left: 0;
//  z-index: 1030;
//}

.menu-bg {
  background: linear-gradient(256.18deg, #e8eb7d 2.97%, #a1d472 59.87%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 40px 40px;
}

p.welcome-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #5c5c5c;
}

p.getstart {
  font-style: normal;
  font-weight: normal;
  font-size: 47px;
  line-height: 103.37%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #73b642;
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}

.main-navigation .btn-light {
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #73b642;
  padding: 0.65em 0.5em;
}

.button-color-gt {
  color: #4caf50;
}
.font-size-header {
  font-size: 14px;
}

.font-header-withe {
  color: #ffffff;
}

//a,
//.a{
//  color: #FFFFFF;
//  text-decoration: none;
//  outline: none
//}
